@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model List<web_app_MVC.Models.OrderDetailModel> *@

@using System.Data;
@model System.Data.DataTable;

<div class="row">
    <div class="col-12
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-bold fs-3 text-center">Order Detail Table</h5>
            @{
                if (TempData["Message"] != null)
                {
                        <div class="alert alert-danger" role="alert">
                                @TempData["Message"]
                        </div>
                }
            }
                <!-- Active Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"  class="bg-info-subtle">Order detail id</th>
                            <th scope="col" class="bg-info-subtle">Order id</th>
                            <th scope="col" class="bg-info-subtle">Product Id</th>
                            <th scope="col" class="bg-info-subtle">Quantity</th>
                            <th scope="col" class="bg-info-subtle">Amount</th>
                            <th scope="col" class="bg-info-subtle">Total Amount</th>
                            <th scope="col" class="bg-info-subtle"> user id</th>
                            <th scope="col" class="bg-info-subtle">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach(DataRow orders in Model.Rows)
                        {
                            <tr>
                                <td>@orders["OrderDetailID"]</td>
                                <td>@orders["OrderID"]</td>
                                <td>@orders["ProductID"]</td>
                                <td>@orders["Quantity"]</td>
                                <td>@orders["Amount"]</td>
                                <td>@orders["TotalAmount"]</td>
                                <td>@orders["UserID"]</td>
                                    <td><a asp-controller="OrderDetail" asp-action="orderDetailAddEdit" asp-route-OrderDetailID="@orders["OrderDetailID"]"><button class="btn btn-warning">Edit</button></a>
                                                        <a class="btn btn-danger" onclick="deleteOrderDetail(@orders["OrderDetailID"])">Delete</a>
                                    </td>

                            </tr>
                            
                        }

                        
                    </tbody>
                </table>
                <a asp-action="orderDetailAddEdit" asp-controller="OrderDetail"> <button class="btn btn-primary">Add order detail</button></a>

                <!-- End Active Table -->

            </div>
        </div>        
    </div>
</div>

<script>
    function deleteOrderDetail(OrderDetailID) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/OrderDetail/OrderDetailDelete/" + OrderDetailID,
                    type: "DELETE",
                    data: { OrderDetailID: OrderDetailID },
                    success: function (res) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Order Detail deleted successfully!",
                            icon: "success"
                        }).then(() => {
                            window.location.reload();
                        })
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: "Error!",
                            text: "Something Went Wrong.",
                            icon: "error"
                        });
                    }
                })
            }
        })
    }
</script>